.login_page {
  background-color: #59e4a8;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
}

.left_half {
  flex: 0.6;
  img {
    width: 100%;
    height: 100%;
  }
}
.right_half {
  flex: 0.4;
}

.login_box {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.login_title {
  margin: 10px auto;
  padding: auto;
}
.text_field {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    margin-left: 4px;
  }
  input {
    margin-top: 10px;
    width: 100%;
    border: 1px solid grey;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    //   rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.login_button {
  border: none;
  width: 60%;
  border-radius: 4px;
  font-weight: 500;
  padding: 10px;
  margin-top: 20px;
  background-color: #d5f8e5;
  cursor: pointer;
  &:hover {
    background-color: #59e4a8;
    color: white;
  }
}
